*{
padding: 0;
margin: 0;
}

h2{
    text-align: center;
    background-color: rgb(25, 29, 100);
    color: aliceblue;
    font-family: Ubuntu;
    padding: 20px;
    margin: -10px;
    letter-spacing: 2px;
    font-size: 30px;
}

h1{
    font-size: 50px;
    font-family: Ubuntu;
    text-align: center;
    margin: 20px;
}
.descripcion{
    text-align: center;
    margin: 0 15% 40px 15%;
    font-size: 20px;
}


nav{
    background-color: rgb(25, 29, 100);
    padding: 15px;
    margin: 0 0 20px 0;
}

nav ul{
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    gap: 4rem;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
    color: whitesmoke;
}

.los-productos div{
    background-color: rgb(25, 29, 100);
    text-align: center;
    margin: auto;
    width: 350px;
    height: 450px;
    border: solid black 2px;
}

.los-productos a{
    text-decoration: none;
    color: aliceblue;
}

.los-productos p{
    font-family: Ubuntu;
    text-align: left;
    width: px;
    font-size: 23px;
    color: whitesmoke;
    margin: 20px 0 0 55px;
}

.los-productos img{
    width: 350px;
    height: 300px;

}

.los-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 20px;
    column-gap: 10px;
}


.pie-de-pag{
    display: flex;
    background-color: rgb(25, 29, 100);
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    margin: 4px;
    font-size: 22px;
    gap: 0vw;
    margin: 150px 0 0 0;
}

.logo{
    width: 100px;
    height: 100px;
}

.contenedor-iconos{
    display: flex;
    justify-content: center;
    gap: 1.2vw;
}

.icon-ig{
    width: 55px;
}

.icon-face{
    width: 55px;
}

.icon-teleg{
    width: 55px;
}

