*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin: 0 20% ;
}


h2{
    background-color: rgb(29, 35, 137);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    padding: 20px;
    margin: -10px;
    letter-spacing: 2px; 
    font-size: 30px;
}
h1{
    font-size: 50px;
    font-family: Ubuntu;
    text-align: center;
    margin: 20px;
}

.nav-bar{
    background-color: rgb(25, 29, 100);
    padding: 15px;
    margin: 0 0 20px 0;
}

nav ul{
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    gap: 4rem;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
    color: whitesmoke;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0 10%;
}

.integrantes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1.5rem;
    column-gap: 1.2rem;

}
.integrantes div{
    box-shadow: 0 10px 20px rgba(85, 142, 255, 0.512);
    border: 0.5px  solid rgba(128, 128, 128, 0.253);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(10, 94, 239, 0.392);
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    font-family: Ubuntu;
    align-items: baseline;
    width: 400px;
    height: 150px;
    margin: 100px auto;
    font-size: 20px;
    padding: 30px;

}
.integrantes img{
    width: 100px;
    display: block;
    margin: -28% auto 10px auto;
    

}

.descripcion{
    text-align: center;
}
.enlace{
    display: flex;
    justify-content: center;
}
.pie-de-pag{
    display: flex;
    background-color: rgb(25, 29, 100);
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    margin: 4px;
    font-size: 22px;
    gap: 0vw;
    margin: 150px -10px -10px -10px;
}
.logo{
    width: 100px;
    height: 100px;
}
.contenedor-iconos{
    display: flex;
    justify-content: center;
    gap: 1.3vw;
}
.icon-ig{
    width: 55px;
}
.icon-face{
    width: 55px;
}
.icon-teleg{
    width: 55px;
}

